:root {
  --colorssocmedfacebook: rgba(59, 89, 152, 1);
  --colorssocmedtwitter: rgba(29, 161, 242, 1);
  --colorssocmedlinkedin: rgba(0, 119, 181, 1);
  --colorssocmedyoutube: rgba(255, 0, 0, 1);
  --x00-neutralblackblack: rgba(0, 0, 0, 1);
  --montserrat-regular-xxsmall-12px-font-family: "Montserrat-Regular", Helvetica;
  --montserrat-regular-xxsmall-12px-font-weight: 400;
  --montserrat-regular-xxsmall-12px-font-size: 12px;
  --montserrat-regular-xxsmall-12px-letter-spacing: 0px;
  --montserrat-regular-xxsmall-12px-line-height: 17px;
  --montserrat-regular-xxsmall-12px-font-style: normal;
}
